html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-size: 2rem;
}

body {
  margin: 0;
}

main img {
  display: block;
  width: 100%;
}

hr {
  border: 0;
  border-top: 4px solid #e2e2e2;
  margin-top: 2rem;
}

main {
  margin: 1.5rem;
}

h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

li {
  padding: .5em 1em .6em;
}

a {
  color: #3783a3;
  font-size: 1.125rem;
}

div {
  padding: 1rem;
  text-align: center;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}

article {
  padding-bottom: 0;
}

h2 {
  display: flex;
  flex-direction: column;
}

article p {
  font-size: 1rem;
}

article a {
  font-size: 1rem;
  border: solid;
  color: #3783a3;
  text-decoration: none;
  padding: .5rem;
  border-radius: .2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

footer hr {
  margin-bottom: 2rem;
  margin-top: 0;
}

footer {
  text-align: center;
  font-size: 1.125rem;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 100%;
    line-height: 1.5;
  }

  h1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 1.5rem;
  }

  ul {
    justify-content:flex-end;
    margin: 1.5rem;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
}
