html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  margin: 1.5rem;
}

body {
  margin: 0;
}

main img {
  display: block;
  width: 100%;
}

main {
  margin: 1.5rem;
}

h1 {
  margin-bottom: 0;
  margin-top: .85rem;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

li {
  padding: .5em 1em .6em;
}

a {
  color: #3783a3;
  font-size: 1.125rem;
}

div {
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}
section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

article {
  padding-bottom: 1rem;
}

h2 {
}

article p {
  font-size: 1.5rem;
}

article a {
  text-decoration: none;
  font-size: 1.5rem;
}

footer {
  text-align: center;
  font-size: 1.125rem;
}
