html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-size: 2rem;
}

body {
  margin: 0;
}

main img {
  display: block;
  width: 100%;
}

.intro {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

main {
  margin-left: 1rem;
  margin-right: 1rem;
}

h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
  margin: 0;
  margin-top: 1rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

li {
  padding: 0 1em;
  margin-bottom: 1rem;
}

a {
  color: #3783a3;
  font-size: 1.125rem;
}

div {
  padding: 1rem;
  text-align: center;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}

article {
  padding-bottom: 0;
}

h2 {
  display: flex;
  flex-direction: column;
}

article p {
  font-size: 1rem;
}

article a {
  font-size: 1rem;
  border: solid;
  color: #3783a3;
  text-decoration: none;
  padding: .5rem;
  border-radius: .2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

footer {
  text-align: center;
  font-size: 1.125rem;
  border-top: 2px solid #e2e2e2;
  margin-top: 1.5rem;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 100%;
    line-height: 1.5;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5rem;
  }

  nav {
    padding-right: .5rem;
  }

  h1 {
    text-align: left;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
  }

  article {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

}

@media only screen and (min-width: 62.5em) {

  div {
    width: 50%;
    margin-left: 16rem;
    margin-right: 16rem;
  }

}
